.card-position {
  float: left;
  margin: 1%;
  width: 250px;
}

.card-image {
  border-radius: 10% 10% 10% 10%;
}

.content-card {
  margin-top: 10px;
  height: 250px;
  border: none;
}

.card-avatar {
  border: 1px solid red;
  height: 100;
}
